body{
   
    background-image: url('https://img.freepik.com/free-photo/grunge-paint-background_1409-1337.jpg?w=2000');
    
} 


@media (max-width: 400px) {
    .page_login  {
        margin: 50% auto;
        width: 80%
  }
  .form{
      width: 100%;
  }
}